@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.App {
    background: #f4f4f4;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.todo-header {
    height: 105px;
    background-color: #16abf8;
    color: #fff;
    display: flex;
    align-items: center;

    .header-title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        color: #ffffff;
    }
}
.main {
    .activities {
        .card {
            border: none !important;
            background-color: #fff !important;
            border-radius: 12px;
            margin-bottom: 26px;
            position: relative;
            box-shadow: 0 6px 10px #0000001a;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            a {
                text-decoration: none;
                outline: 0;
                color: #000;
            }
            .text-muted {
                color: #8e8ea3;
            }
            .card-body {
                h4 {
                    display: block;
                    margin-block-start: 1.33em;
                    margin-block-end: 1.33em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
                .card-item-title {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
    }
    button {
        position: static;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 22.5px;
        position: relative;
        background: #16abf8;
        border-radius: 45px;
        border: none;
        .bi-plus {
            margin-top: 4px;
            font-size: 30px;
        }
    }
}
