@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .todo-header {
        height: 105px;
        background-color: #16abf8;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .todo-container {
        @apply lg:container mx-auto px-28 text-3xl;
    }
    /* main */
    .main {
        @apply container border mx-auto px-28;
        .todo-w-100 {
            @apply w-[100] border;
        }
    }
}
